{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"],
  "importOrder": [
    "^react$",
    "^next",
    "^@/components/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/features/(.*)$",
    "^@/types/(.*)$",
    "^@/styles/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
